@font-face {
    font-family: 'StarJedi'; 
    src: url('../assets/fonts/starjedi_cyrillic.otf') format('opentype'); 
}
body {
    font-family: 'StarJedi', sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px; 
    height:100%;
}
.full-screen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00008B, #8B0000);
    z-index: -1; 
}
h1 {
    text-align: center;
}


.favorite_button {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background: transparent;
    border: none; 
    cursor: pointer; 
    font-size: 40px; 
    color: rgba(255, 255, 255, 0.8); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.active {
    color: red;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly; 
    max-width: 100%; 
    margin:  0 5%;
    margin-top: 10%;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    max-width: calc(33.33% - 10px); 
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    position: relative; 

}
.container {
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    background: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    position: relative;
}
img {
    border-radius: 5px 5px 0 0;
}
.cards {
    display: block;
}
